* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}
/* #087f5b */

.page-link {
  text-decoration: none;
  color: #343a40;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  width: 600px;
  margin: 100px auto;

  display: flex;
  align-items: center;
  gap: 20px;
}

.page-link:hover {
  background-color: #087f5b;
  border-radius: 50%;
  color: #fff;
}

.link--fill {
  background-color: #087f5b;
  color: #fff;
  border-radius: 50%;
}

.btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #087f5b;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.btn:hover {
  background-color: #087f5b;
}
.btn:hover .btn-icon {
  stroke: #fff;
}

.more {
  color: #868e96;
}
