* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  color: #444;
  font-size: 24px;
}

.grid-container {
  height: 100vh;
  text-align: center;
  font-weight: bold;

  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
}

nav,
main,
section,
aside {
  padding: 24px;
}

nav {
  background-color: #343a40;
  color: #fff;
  grid-row: 1/-1;
}

menu {
  background-color: #7048e8;
  grid-column: 2/-1;

  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 40px;
}

button {
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #5f3dc4;
  color: #fff;
  padding: 8px 12px;
  font-weight: bold;
}

.btn--red {
  margin-left: auto;
  background-color: #c2255c;
}

section {
  background-color: #e9ecef;
  padding: 40px;
  /*Scroll will work only if flex shrink of flex items is 0  */
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.email {
  background-color: #adb5bd;
  height: 96px;
  flex-shrink: 0; /* default 1 */

  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  background-color: #e9ecef;
}
